body{
    background-color: #3C6255;
}
h1{
    color:#A6BB8D;
}
h3{
    color:#A6BB8D;
}
hr{
    border-top: #EAE7B1;
    border-style: none;
    border-top-style: dotted;
    border-width: 10px;
    width: 10%;
    
}
a:link{
    color:#A6BB8D;
}
a:visited{
    color:#61876E;
}
