body{
    margin:0;
}
.red{
    position:absolute;
    left: 200px;
    top: 200px;
    background-color: red;
    border-style: none;
    height: 100px;
    width: 100px;

}
.blue{
    position:absolute;
    left:100px;
    top:100px;
    background-color: blue;
    border-style: none;
    height: 100px;
    width: 100px;
}
.yellow{
    position:absolute;

    background-color: yellow;
    border-style: none;
    height: 100px;
    width: 100px;
}
