/**************TAG SELECTORS**************/
body{
    margin: 0px;
    text-align: center;
    background-color: #61876E;
    font-family: 'Ubuntu', sans-serif;
}
div{
    position: relative;
    /*General Styling*/
    background-color: #3C6255;
    /*Padding Styling*/
    padding-top: 100px;
    padding-bottom: 100px;
    /*Margin Styling*/
}
hr{
    /*Border Styling*/
    border-bottom: #EAE7B1;
    border-style: none;
    border-bottom-style: dotted;
    border-width: 10px;
    width:10%;
}
h1{
    margin:50px auto 0 auto;
    font-family: 'Abril Fatface', cursive; 
    color:#A6BB8D;
    font-size:5.625rem;
    line-height:2;
}

h2{
    font-size:2.5rem;
    font-weight:normal;
}
h3{font-size:2rem}
h2,h3{
    margin-top:0px;
    color:#A6BB8D;
    font-family: 'Abril Fatface', cursive;    
}
p{
    color:#A6BB8D;
    margin: 0 auto;
    font-size:1.25rem;
    line-height:2;
}
a:link{
    color:#A6BB8D;
    text-decoration: none;
    font-size:1.25rem;
    margin-bottom:100px;
    margin-left: 25px;
    margin-right: 25px;

}
a:hover{color:#61876E}
/**************CLASS SELECTORS**************/
.intro{
    margin:auto;
    width:27.8%;
}
.skill-row{
    width:50%;
    margin:100px auto 100px auto;
    text-align: left;
    line-height: 2;
    border-style: none;
}
.python-image{
    width:25%;
    float: left;
    margin-right:30px;
}
.java-image{
    width:25%;
    float: right;
    margin-left:30px;
}

.bottom-cloud{
    position: absolute;
    left:300px;
    bottom:250px;
}
.top-cloud{
    position:absolute;
    right:300px;
    top:40px;
}
.footer-text{color:#3C6255}
.bottom-container{
    background-color:#A6BB8D;
}
.contact-msg{
    margin: 40px auto 60px;
    width: 40%;
}
